@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;    
}

.centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F4F4F4;
}

.hidden{
    overflow: hidden;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #8948EC;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

/* NAV */

#nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#logo{
    width: 3rem;
}

.cont_logo{
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contenedor_nombre{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.nombre{
    width: 100%;
    font-family: 'Athiti', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: 0.7rem;
}

.contenedor_lista{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.contenedor_lista ul{
    width:100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.padre_ul{
    width:50%;
    display: flex;
    align-items: flex-end;
}


.lista_nav{
    position: relative;
    font-family: 'Raleway', sans-serif;
    /* font-weight: 400; */
    letter-spacing: 1px;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    color: #232625;
    padding: 10px 0;
}

.a_nav i{
    position: relative;
    font-size: 18px;
    /* font-weight: 400; */
    color: #383838;
    padding: 10px 0;
}

.cont_log_reg{
    visibility: hidden;
    
    position: absolute;
    max-height: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: white;
    -webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45); 
    box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45);
    border-radius: 5px;
    width: 8rem;
    margin-top:0;
    padding: 50px 50px;
}

.cont_log_reg a{
    width: 100%;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}
.cont_log_reg li{
    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
    color: #232625;
    font-family: 'Athiti', sans-serif;
}

.cont_log_reg.active2{
    visibility: visible;
}

#icono_persona{
    cursor: pointer;
    z-index: 10000;

}



.a_icono{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.a_icono i{
    font-size:1.3rem;
}

.a_nav i{
    font-size:1.3rem;
}


.contador_carrito{
    width: 14.5px;
    height: 14.5px;
    background-color: #E9472D;
    border-radius: 50%;
    position: absolute;
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden; 
}


.contador_carrito.active_cart{
    visibility:visible;
}

.contador_carrito span{
    width: 100%;
    text-align: center;
    font-family: 'Athiti', sans-serif;
    font-weight: 900;
    color: #F4F4F4;
    font-size: 13.5px;

}

.lista_nav::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 3px;
    height: 2px;
    left: 0;
    width: 100%;
    background-color: #232625;
    transform-origin: right top;
    transform: scale(0,1);
    transition: color 0.1s, transform 0.2s ease-out;
}

.lista_nav:hover::before,
.lista_nav:focus::before{
    transform-origin: left top;
    transform: scale(1,1);
}


.cont_ul a{
    text-decoration: none;
    color: #232625;  /* esto lo tengo que cambiar */
}




/* Header */

.header{
    width: 100%;
    display: flex;

}

.hijo_header{
    width: 100%;
}

.hijo_header img{
    width: 100%;
    height: 26rem;
    object-fit: cover;
}

.hijo_header h2{
    position: absolute;
    text-align: center;
    line-height: 25rem; 
    font-family: 'Oswald', sans-serif;
    font-size: 8rem;
    background-color: transparent;
    color: whitesmoke;
    width: 100%; 
}

  

/* Nosotros */

.section_nosotros{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.card_nosotros{
    width: 90%;
    height: 30rem;
    background-color: #EFF1F0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45); 
    box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45);
}

.img_nosotros{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.img_nosotros img{
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    position: absolute;
    border-radius: 0 15px 15px 0;
}

.cont_nosotros{
    width: 50%;
    position: absolute;
}

#titulo_nosotros{  
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    color: #232625;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 7rem;
}

.cont_p_nosotros{
    width: 50%;
    display: flex;
    justify-content: center;
    z-index: 10000;
}

.cont_p_nosotros p{
    font-family: 'Oswald', sans-serif;
    color: #232625;
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
    margin-left: 4rem;
    letter-spacing: 0.4px;
}


.img_slider{
    width: 100%;
    height: 30rem;
    object-fit: cover;
}



/* Teclados */
.h2_teclados{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: 'Raleway', sans-serif;
    margin-top: 7rem;
    letter-spacing: 3px;
}
.section_teclados{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.cont_teclados{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.imagen{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_teclado{
    width: 16rem;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    overflow: hidden;
}
.nombre_teclados{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Athiti', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    border-top: solid 1px grey;
    flex-wrap: wrap;
}

.nombre_teclados span{
    width: 100%;
    text-align: center;
}

.nombre_teclados h4{
    width: 100%;
    text-align: center;
}

.teclados{
    -webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45); 
    box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45);
    border-radius: 15px;
    transition: all .3s;
    width: 15rem;

}

.teclados:hover{
transform: scale(1.12);
}

.a_teclados{
    text-decoration: none;
    color: #232625;
    transition: all 2s;
}

.cont_add_cart{
    display: flex;
    justify-content: space-evenly;
}

.add_cart{
    background: none;
    margin-top: 1.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    width: 14rem;
    height: 2rem;
    border: solid 0.2px #232625;
    transition: color .5s;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.add_cart:is(:hover,:focus){
    color:white;
}

.add_cart::after{
    position: absolute;
    content: "";
    inset: 0;
    z-index: -1;

    background-color: #232625;
    border-radius: 5px;
    
    -webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45); 
    box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45);

    transform-origin: left;
    transform: scaleX(0);
    transition: transform 200ms;
}

.add_cart:is(:hover,:focus)::after{
    transform: scale(1);
}

.separador{
    height: 0.01rem;
    background-color: #ADB2AF ;
    margin-top: 10rem
}
/* Keycaps */
.h2_keycaps{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: 'Raleway', sans-serif;
    margin-top: 7rem;
    letter-spacing: 3px;
}

.section_keycaps{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.cont_keycaps{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.img_keycaps{
    width: 16rem;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    overflow: hidden;
}
.nombre_keycaps{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Athiti', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    border-top: solid 1px grey;
    flex-wrap: wrap;
}

.nombre_keycaps span{
    width: 100%;
    text-align: center;
}

.nombre_keycaps h4{
    width: 100%;
    text-align: center;
}

.keycaps{
    -webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45); 
    box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45);
    border-radius: 15px;
    transition: all .3s;
    width: 15rem;
}

.keycaps:hover{
transform: scale(1.12);
}

.a_keycaps{
    text-decoration: none;
    color: #232625;
    transition: all 2s;
}


.disabled-button{
    cursor: not-allowed;
    opacity: 0.6;
    background-color: grey;
    color:black;
    border-color: solid 1px #232625;
}

/* carrito */

.h2_carrito{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 7rem;
    margin-bottom: -8.5rem;
    letter-spacing: 3px;
}

.section_cart{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 10rem;

}

.cont_carrito{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 40rem;
    background-color: #f4f4f4f4;
    -webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45); 
    box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45);
    border-radius: 10px;
    flex-wrap: wrap;
}

.cont_carrito span{
    font-family: 'Athiti', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

.mensaje_carrito{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

.nombre_precio{
    width: 60%;
    height: -10px;
    display: flex;
    justify-content: flex-end;
}

.nombre_precio span{
    text-align:left;
    width: 100%;
}

.cart_items{
    width: 100%;
    height: 90%;
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.contenedor_productos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img_product{
    width: 100%;
    justify-content: center;
    margin-left: 1rem;

}

.cart_items img{
    width: 65px;
    height: 65px;
    border-radius: 5px;
    

}

.cart_items span{
    width: 100%;

}

.total_compra{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.total_compra span{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;

}

.cont_botones_cart{
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.botones_carrito{
    width: 40px;
    height: 40px;
    border: solid 1px #232625;
    border-radius: 5px;
    margin-right: 7px;
    background-color: #F4F4F4;
    color: #232625;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    box-shadow: 2px 2px 0px 0px #232625;
    cursor: pointer;
}

.botones_carrito:active{
    transform: translateX(2px) translateY(2px);
    box-shadow: 0px 0px 0px 0px #232625;
}

/* RESPONSIVE */




@media screen and (max-width:1280px){

    
    #logo{
        width: 3.8rem;
    }

    .nombre{
        width: 100%;
        font-family: 'Athiti', sans-serif;
        font-weight: 500;
        font-size: 1.7rem;
        margin-left: 0.7rem;
    }

    .contenedor_lista ul{
        width:100%;
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        padding: 8px 0px;
        margin-right: 5px;
    }

    .lista_nav{
        position: relative;
        font-family: 'Raleway', sans-serif;
        /* font-weight: 400; */
        letter-spacing: 0px;
        font-size: 1.2rem;
        transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
        color: #232625;
    }

    .add_cart{
        font-size: 1.3rem;
    }

    .nombre_teclados{
        font-size: 1.4rem;
    }

    .cont_carrito span{
        font-family: 'Athiti', sans-serif;
        font-size: 1.3rem;
        font-weight: 400;
    }

    .total_compra span{
        font-family: 'Raleway', sans-serif;
        font-size: 1.3rem;
        font-weight: 600;
    
    }

    .cont_carrito span{
        font-weight: 400;
        display: flex;
        justify-content: center;
    }

    .contenedor_productos span{
        display: flex;
        justify-content: center;

    }


}


@media screen and (max-width:899px){

    #logo{
        width: 4.5rem;
    }

    .nombre{
        width: 100%;
        font-family: 'Athiti', sans-serif;
        font-weight: 500;
        font-size: 1.8rem;
        margin-left: 0.7rem;
    }

    .padre_ul{
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: transform .3s;
        transform: rotateY(90deg);
    }

    .cont_ul{
        flex-direction: column;
        align-items: center;
        padding: 20px;
        
    }

    .contenedor_padre_ham{
        display: flex;
        align-items: center;
    }
    
    #padre_haburguesa{
        background-color: transparent;
        cursor: pointer;

    }

    #padre_hamburguesa .linea{
        display: block;
        width: 35px;
        height: 2px;
        background-color: black;
        margin-block: 8px;
        border-radius: 4px;
        transition: transform .5s, 
        opacity .25s;
        margin-right: 10px;

    }

    #padre_hamburguesa.active .linea:nth-child(1){
        transform: translateY(10px) rotate(45deg);

    }

    #padre_hamburguesa.active .linea:nth-child(2){
        opacity: 0;    
    }

    #padre_hamburguesa.active .linea:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
    
    }


    .padre_ul.active{
        overflow: visible;
        max-height: 50%;
        height:50%;
        position: absolute;
        background-color: white;
        -webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45); 
        box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45);
        border-radius: 5px;
        width: 15rem;
        transform: rotateY(0deg);
        margin: 0px;
        padding: 0px;
        
    }

    .cont_ul.active{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        
    }

    .opacity{
        background-color: rgba(0,0,0,0.5);
        transition: all .5s ease;
    }

    
    .cont_log_reg{
        visibility: hidden;
        position: absolute;
        max-height: 100%;
        height: 9rem;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        background-color: white;
        -webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45); 
        box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45);
        border-radius: 5px;
        width: 8.8rem;
        margin-top:0;
        padding: 50px 50px;
    }

    .lista_nav{
        position: relative;
        font-family: 'Raleway', sans-serif;
        /* font-weight: 400; */
        letter-spacing: 0px;
        font-size: 1.5rem;
        transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
        color: #232625;
        padding: 10px 0;
    }

    .img_nosotros{
        display: none;
    }

    .card_nosotros{
        width: 90%;
        height: 20rem;
        background-color: #EFF1F0;
        display: flex;
        flex-wrap: wrap;
        border-radius: 15px;
        -webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45); 
        box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45);
    }

    .cont_nosotros{
        width: 100%;
        position: absolute;
    }
    
    
    #titulo_nosotros{  
        display: flex;
        justify-content: center;
        font-family: 'Oswald', sans-serif;
        color: #232625;
        font-size: 1.7rem;
        font-weight: 300;
        line-height: 7rem;
    }
    
    .cont_p_nosotros{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cont_p_nosotros p{
        font-family: 'Oswald', sans-serif;
        color: #232625;
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
        margin-left: 0rem;
        letter-spacing: 0.5px;
    }

    .add_cart{
        font-size: 1.5rem;
    }

    .nombre_teclados{
        font-size: 1.5rem;
    }

    .cont_carrito span{
        font-family: 'Athiti', sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        display: flex;
        justify-content: center;
    }

    .contenedor_productos span{
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: 400;
    }

    .total_compra span{
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
    
    }

    .a_nav i{
        font-size:1.8rem;
    }

    .a_icono{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .contador_carrito{
        width: 20px;
        height: 20px;
        background-color: #E9472D;
        border-radius: 50%;
        position: absolute;
        margin-left: 3px;
        display: flex;
        justify-content: center;
        visibility: hidden; 

    }
    
    
    .contador_carrito span{
        width: 100%;
        height: 100%;
        text-align: center;
        font-family: 'Athiti', sans-serif;
        font-weight: 900;
        color: #F4F4F4;
        font-size: 16px;
    
    }
    

}


@media screen and (max-width:400px){

    .nombre{
        display: none;
    }

    .hijo_header img{
        width: 100%;
        height: 18rem;
        object-fit: cover;
    }


    .padre_ul.active{
        overflow: visible;
        max-height:60%;
        height:60%;
        position: absolute;
        background-color: white;
        -webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45); 
        box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45);
        border-radius: 5px;
        width: 15rem;
        transform: rotateY(0deg);
        margin: 0px;
        padding: 0px;
        
    }

    
    .cont_ul.active{
        display: flex;
        width: 100%;
        height: 90%;
        justify-content: space-evenly;
        align-items: center;
        
    }

    .a_nav i{
        font-size:1.5rem;
    }

    .lista_nav{
        position: relative;
        font-family: 'Raleway', sans-serif;
        /* font-weight: 400; */
        letter-spacing: 0px;
        font-size: 1.3rem;
        transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
        color: #232625;
        padding: 10px 0;
    }

    .contador_carrito{
        width: 16px;
        height: 16px;
        background-color: #E9472D;
        border-radius: 50%;
        position: absolute;
        margin-left: 3px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        visibility: hidden; 
    }
    
    
    .contador_carrito span{
        width: 100%;
        height: 100%;
        text-align: center;
        font-family: 'Athiti', sans-serif;
        font-weight: 900;
        color: #F4F4F4;
        font-size: 14px;
    
    }

    .section_nosotros{
        display: none;
    }

    .add_cart{
        margin-top: 1.6rem;
        margin-bottom: 3rem;
    }


    .cont_carrito{
        width: 100%;
    }


    .nombre_precio{
        width: 100%;
    }
    
    
    .cart_items{
        width: 100%;
        height: 90%;
        background-color: #F4F4F4;
        display: flex;
        justify-content: space-evenly;
        flex-wrap:wrap;
    }
    
    .contenedor_productos{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .img_product{
        display: none;
    }
    
    
    
    .cart_items span{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .cont_botones_cart{
        width: auto;
        display: flex;
        justify-content:flex-end;
        align-items: center;
        flex-direction: column;
    }
    
    .botones_carrito{
        width: 40px;
        height: 40px;
        border: solid 1px #232625;
        border-radius: 5px;
        margin-right: 5px;
        background-color: #F4F4F4;
        color: #232625;
        font-family: 'Raleway', sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
        box-shadow: 2px 2px 0px 0px #232625;
        cursor: pointer;

    }

}
