@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color:#90CFE5;
    font-family: 'Athiti', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.contenedor_colores{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    
    
}

#color1{
    width: 55%;
    height: 200vh;
    background-color: #A56CFC;
    transform: rotate(60deg);
    -webkit-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.54); 
    box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.54);

}

.padre_form{
    background-color: #F7F7F7;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45); 
    box-shadow: 0px 0px 21px -1px rgba(0,0,0,0.45);
    width: 35rem;
    max-width: 100%;
    overflow: hidden;
    position: absolute;
}

.contenedor_h2{
    background-color: #F4F4F4;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}

.contenedor_h2 h2{
    margin: 0;
}

.form{
    padding: 30px 40px;
}

.hero_form{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.hero_form label{
    display: inline-block;
    margin-bottom: 5px;
}

.hero_form input{
    border: 2px solid #f0f0f0;
    border-radius: 8px;
    display: block;
    font-family: inherit;
    font-size: 1.1rem;
    padding: 10px;
    width: 100%;
}

.hero_form.success input{
    border-color: #2ecc71;
}

.hero_form.error input{
    border-color: #e74c3c;
}


.hero_form i{
    position: absolute;
    top: 50px;
    right: 10px;
    visibility: hidden;
}

.hero_form.success i.fa-circle-check{
    visibility: visible;
    color:#2ecc71;
}

.hero_form.error i.fa-circle-exclamation{
    visibility: visible;
    color:#e74c3c;
}

.hero_form small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.hero_form.error small{
    visibility: visible;
    color: #e74c3c;
}

.form button{
    background-color: #181717;
    display: block;
    border: none;
    width: 100%;
    height: 2.3rem;
    font-size: inherit;
    color: #F7F7F7;
    border-radius: 8px;
    
}